*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
settings_REMOTE_1372.gradle
settings_BACKUP_1372.gradle
settings_BASE_1372.gradle
settings_LOCAL_1372.gradle
